.intro {}

.intro__inner {
  padding: 100px 0;
}

.intro__title {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #22343D;
}

.intro__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

@include max-width (520px,320px) {
  .intro__img {
    &:nth-child(3) {
      width: 164px;
      height: 34px;
    }

    &:nth-child(1) , &:nth-child(2) {
      margin-bottom: 60px;
    }
}
}