.site-question {}

.question {}

.question__inner {
  padding: 150px 0 ;
}

.question__header {
  
}

.question__title {
  text-align: center;
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
  color: #22343D;
}

.question__desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #22343D;
  text-align: center;
}

.question__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.question__item {


  &:nth-child(2) {
    display: block;
  }
}

.question__img {
  margin-right: 16px;
}

.question__subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #22343D;
}

.question__line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #e7e7e7;
}

.question__box {
  display: flex;
  align-items: center;
}

.question__text {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #22343D;
}